<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Employee Scheduling</title>
    <style>
      body { font-family: Arial, sans-serif; margin: 24px; }
      .morning {background: yellow;}
    </style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
