<h1>Edit Employee</h1>

<form method="POST" action="/employee/{{employee.employeeId}}/edit">
  <p>
    <label>Name:</label><br />
    <input type="text" name="name" value="{{employee.name}}" />
  </p>

  <p>
    <label>Phone:</label><br />
    <input type="text" name="phone" value="{{employee.phone}}" />
  </p>

  <button type="submit">Save</button>
</form>

<p><a href="/employee/{{employee.employeeId}}">Back to Details</a></p>